@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--The homepage is a simple page with the picture and some text-->

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
    <div>
        <img src="~/JoelHilton.jpg" width="500" alt="picture of Joel Hilton" />
    </div>
    <br />
    <h4>Welcome! I hope you like movies as much as I do!</h4>
</div>
