@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- This page is simple. We just need a link to the podcast website -->
<!-- Don't forget to include functionality in the controller for this view page -->

<h1>Listen to Baconsale!</h1>
<br />
<br />
<div>
    <h5>What in the world is Baconsale?</h5><br />
    <h5>
        Baconsale is my awe-inspiring podcast. <br>
        I love talking about movies, video games, and anything else related to pop culture!
    </h5><br />
    <h5>
        Click <a href="https://baconsale.com">HERE</a> to listen!
    </h5>
</div>